.hero{
    height: 581px;
    background-color: #F4CE14;
}
.infoAndButton{
    width: fit-content;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: greenyellow; */
}

.container{
    display: flex;
    max-width: 855.6px;
    justify-content: space-between;
    margin: auto;
    padding-top: 99px;
}

@media only screen and (max-width: 784px){
    .hero .container{
        padding-top: 70px;
        position: relative;
        
    }
    .hero{
        padding: 0 40px;
    }

    .hero img{
        display: none;
    }

    .infoAndButton{
        position: absolute;
        left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  align-items: center;

    }
}

@media only screen and (max-width: 950px) and (min-width: 784px){
    .hero .container{
        display: flex;
        padding: 99px 50px;
        justify-content: center;
    }
    .infoAndButton{
        margin-right: 40px;
    }
    .hero img{
        width: 30vw;
        object-fit: cover;
        border-radius: 8px;
    }
    
}