.info{
    /* background-color: aqua; */
    max-width: 372px;
    /* position: relative; */
    height: 262px;

}

h2{
    /* position: absolute; */
    margin: auto  ;
top: 61px;
}
p{
    /* position:absolute; */
    top: 102px;

}

@media only screen and (max-width: 600px){
    .info{
        height: fit-content;
        margin-bottom: 30px;
    }
}