.about {
  width: 100vw;
  height: 480px;
}

.about .container{
    align-items: center;
   
}

.images {
  width: 370px;
  height: 343px;
  position: relative;
  /* background-color: aqua; */
}

.a {
  position: absolute;
  left: 151px;
  top: 86px;
}

@media only screen and (max-width: 600px){
  .about{
    height: fit-content;
  }
  .about .container{
    padding: 40px 0;
    margin: 0 30px;
    flex-direction: column;

  }

  .images{
    width: 100%;
  }
}