.dinerCount button{
    all: unset;

}

.dinerCount2{
    display: flex;
   
    width: 80px;
    justify-content: space-between;
    align-items: center;
}

.dinerCount{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    height: 80px;
    align-items: center;
    
/* color: #495E57; */
}